<section>
    <h2 class="title-hexagonal title-section-hex-orange">ADMISIONES EN LA IES PÚBLICAS</h2>
     <h3 class="title-hexagonal-h3 title-section-hex-black">Información Importante</h3>
     <div>
        <figure class="imagen-section">
            <h3 class="animated bounceInRight infinite center">
                Recuerda: ¡Tú eres el responsable de elegir adecuadamente tu futuro académico!
            </h3>
        </figure>
    </div>
     <div class="content">
         <div class="grid-inti-50">
            <div class="adicional-grid">
                <p class="parrafos-inti">
                    Contar con la mayor información posible es fundamental para tomar una adecuada 
                    decisión; por eso, en este suplemento encontrarás todas las carreras que las 
                    universidades, escuelas politécnicas e institutos técnicos y tecnológicos públicos 
                    y particulares del país ofertan en este periodo académico, detallando la ciudad,
                    jornada y modalidad en las que se impartirán.
                </p>
                <p class="parrafos-inti">
                    Es importante que consideres que cada institución de educación superior define,
                    de forma autónoma, cuántos cupos ofertar en cada periodo, además, no existe 
                    un puntaje mínimo para postular y puedes escoger hasta cinco opciones de carreras, 
                    seleccionadas en orden de prioridad, según tu preferencia.
                </p>
                <p class="parrafos-inti">
                    Una vez que hayas postulado, el sistema, de manera automática asigna os cupos tomando 
                    en consideración: primero, el puntaje obtenido por los estudiantes en el examen Ser Bachiller;
                </p>
            </div>
            <div class="adicional-grid espacio">
                <p class="parrafos-inti">
                    segundo, número de cupos ofertados por las instituciones de educación superior; 
                    y, tercero, la selección responsable de carreras que realiza cada aspirante
                    durante el proceso de postulación.
                </p>
                <p class="parrafos-inti">
                    La asignación se da desde la nota, más alta hasta cubrir la totalidad de cupos disponibles.
                </p>
                <p class="parrafos-inti">
                    Para que tengas una idea más clara de a qué carrera postular, es necesario que también 
                    tengas en cuenta, a manera de referencia, las notas máximas y promedios con que se asignó 
                    un cupo en el proceso anterior, Esta información, se encuentra detallada más adelante.
                </p>
                <p class="parrafos-inti">
                    Recuerda, si esta vez no obtienes un cupo, podrás acceder a nuestros cursos gratuitos de 
                    nivelación y prepararte para rendir el siguiente Ser Bachiller en mejores condiciones.
                </p>
                <p class="parrafos-inti">
                    Estamos trabajando todos los días para ampliar y diversificar la oferta. En esta ocasión 
                    tendrás la opción de educación virtual.
                </p>
                <span>
                    ¡La decisión es tuya!
                </span>
            </div>
        </div>
     </div>
    <div class="content">  
         <div class="img-parrofo-final">
             <img class="img-parrofo-final-medidas" src="img/imagen-portada-ofertas-academicas.jpg" alt="">
         </div>
         <div class="img-parrofo-final img-oportunidad2">
             <img class="img-oportunidad" src="img/oportunidad.jpg" alt="">
         </div>
     </div>
</section>