<section>
    <h2 class="title-hexagonal title-section-hex-orange">CAPACITACIÓN CONTINUA</h2>
        <img class="img-content" src="img/logo-cecy.jpg" alt="">

        <div>
            <figure class="imagen-section">
                <h3 class="animated bounceInRight infinite center">
                    Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en el mejor ambiente institucional
                </h3>
            </figure>
        </div>
        
         <div class="content-hexagonal">
            <div class="grid-inti-50">
                <div class="adicional-grid espacio">
                    <p class="parrafos-inti">
                      El Instituto Tecnológico Superior “YAVIRAC”, desde 
                      noviembre del 2016 ha realizado los siguientes Cursos 
                      de Educación Continua, que le permiten a la Institución
                       aportar al crecimiento educativo de la población 
                       económicamente activa, brindando cursos que aportan al 
                       mejoramiento de la matriz productiva del país. Nuestra 
                       labor como centro de Educación Continua y bajo el criterio 
                       de vinculación con la Comunidad.
                    </p>
                    <ul>
                        <li>Responder a las necesidades específicas de las personas.</li>
                        <li>Mejorar las competencias y calificación de los profesionales en su sector.</li>
                        <li>Aumentar las habilidades, competencias y conocimientos.</li>
                        <li>Propiciar que se desarrollen nuevas actividades económicas.</li>
                        <li>Evitar quedarse atrás.</li>
                        <li>Incrementar la competitividad.</li>
                        <li>Desarrollen personal.</li>
                    </ul>
                </div>
                <div class="adicional-grid">
                    <img src="img/FORM.jpg" alt="">
                </div>
            </div>
        </div>
</section>