<section>
     <h2 class="title-hexagonal title-section-hex-orange">CARRERAS VIGENTES</h2>
     {{!-- Carreras vigentes start --}}
    <div class="content-hexagonal">
        <ul id="hexGrid">
        <li class="hex hex-section-carreras-vigentes" data-aos="fade-right"  data-aos-delay="200">
            <div class="hexIn">
            <a class="hexLink" href="#" target="_blank">
                <img src="img/carreras-vigentes/boton-arte-culiario.jpg" alt="" />
                <h1>ARTE CULINARIO</h1>
                <p>Título a obtener:Técnico Superior en Arte Culinario Ecuatoriano</p>
            </a>
            </div>
        </li>
        <li class="hex hex-section-carreras-vigentes" data-aos="fade-down"  data-aos-delay="400">
            <div class="hexIn">
            <a class="hexLink" href="#" target="_blank">
                <img src="img/carreras-vigentes/botón-control-incendios.jpg" alt="" />
                <h1>CONTROL DE INCENDIOS</h1>
                <p>Oferta focalizada:
                    Tecnólogo Superior en Control de Incendios y Operaciones de Rescate</p>
            </a>
            </div>
        </li>
        <li class="hex except hex-section-carreras-vigentes" data-aos="fade-left"  data-aos-delay="600">
            <div class="hexIn">
            <a class="hexLink" href="#" target="_blank">
                <img src="img/carreras-vigentes/boton-software.jpg" alt="" />
                <h1>DESARROLLO DE SOFTWARE</h1>
                <p>	Título a obtener:
                    Tecnólogo Superior en Desarrollo de Software</p>
            </a>
            </div>
        </li>
        </ul>

        <ul id="hexGrid" style="padding-top:20px">
        <li class="hex hex-section-carreras-vigentes" data-aos="fade-right"  data-aos-delay="200">
            <div class="hexIn">
            <a class="hexLink" href="#" target="_blank">
                <img src="img/carreras-vigentes/boton-diseño-modas.jpg" alt="" />
                <h1>DISEÑO DE MODAS</h1>
                <p>	Título a obtener:
                    Diseñador de Modas con nivel equivalente a Tecnología Superior</p>
            </a>
            </div>
        </li>
        <li class="hex hex-section-carreras-vigentes" data-aos="fade-up"  data-aos-delay="400">
            <div class="hexIn">
            <a class="hexLink" href="#" target="_blank">
                <img src="img/carreras-vigentes/boton-turismo.jpg" alt="" />
                <h1>GUÍA DE TURISMO</h1>
                <p>	Título a obtener:
                    Guía Nacional de Turismo con nivel equivalente a tecnología superior</p>
            </a>
            </div>
        </li>
        <li class="hex except hex-section-carreras-vigentes" data-aos="fade-left"  data-aos-delay="600">
            <div class="hexIn">
            <a class="hexLink" href="#" target="_blank">
                <img src="img/carreras-vigentes/boton-marketing.jpg" alt="" />
                <h1>MARKETING DIGITAL</h1>
                <p>	Título a obtener:
                    Tecnólogo Superior en Marketing</p>
            </a>
            </div>
        </li>
        </ul>
    </div>
    {{!-- Carreras Vigentes end --}}
</section>