<section>
     <h2 class="title-hexagonal title-section-hex-orange">CARRERAS NO VIGENTES</h2>
     <div class="content">
         <ul id="hexGrid">
            <li class="hex hex-section-carreras-no-vigentes" data-aos="fade-right"  data-aos-delay="200">
                <div class="hexIn">
                <a class="hexLink">
                    <img src="img/carreras-no-vigentes/boton-analisis-sistemas.jpg" alt="" />
                </a>
                </div>
            </li>
            <li class="hex hex-section-carreras-no-vigentes" data-aos="fade-down"  data-aos-delay="400">
                <div class="hexIn">
                <a class="hexLink">
                    <img src="img/carreras-no-vigentes/boton-electricidad.jpg" alt="" />
                </a>
                </div>
            </li>
            <li class="hex except hex-section-carreras-no-vigentes" data-aos="fade-left"  data-aos-delay="600">
                <div class="hexIn">
                <a class="hexLink">
                    <img src="img/carreras-no-vigentes/boton-electronica.jpg" alt="" />
                </a>
                </div>
            </li>
        </ul>
     </div>
</section>