<section>
    <h2 class="title-hexagonal title-section-hex-orange">Bienvenido a eBooks7-24</h2>
    <img class="img-content" src="img/eBooks7-24.jpg" alt="">

    <div>
        <figure class="imagen-section">
            <h3 class="animated bounceInRight infinite center">
                 Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en el mejor ambiente institucional
            </h3>
        </figure>
    </div>

    <div class="content-hexagonal parrafo-section">
        <p class="parrafo-final">
            «En eBooks 7-24 lo hacemos fácil para el estudiante y para el instituto.
             Somos una nueva experiencia de lectura ágil y amigable que facilita el 
             aprendizaje y brinda la posibilidad a la institución de nutrir su plan de 
             estudios con contenidos de la más alta calidad pertenecientes a reconocidas 
             casas editoriales de Latinoamérica, para mediar los procesos de enseñanza-aprendizaje
              en programas de ingenierías, ciencias económico-administrativas, ciencias básicas, 
              ciencias sociales y ciencias de la salud.»
        </p>
        <div class="botton-parrofo-final">
            <a class="footer-call-to-action-button button hvr-sweep-to-top" style="text-align:center" href="http://www.ebooks7-24.com/" target="_self"> Más información</a>
        </div>
    </div>
</section>