<section>
    <h2 class="title-hexagonal title-section-hex-orange">EDUCACIÓN SUPERIOR PÚBLICA</h2>
     <h3 class="title-hexagonal-h3 title-section-hex-black">
         Importancia de la Educación Técnica/Tecnológica Pública y la Economía Productiva</h3>
          <h5 class="title-hexagonal-h5 title-section-hex-orange">
            Aquiles Hervas Parra
            </h5>
             <h5 class="title-hexagonal-h5 title-section-hex-black">
            Instituto Tecnológico Superior Yavirac
            </h5>
            <div class="content-hexagonal">
                <figure class="imagen-educacion-superior"></figure>
            </div>
       
        <div class="parrafo-inti-yavirac">
            <div class="grid-inti-60">
                <div class="adicional-grid">
                    <h5 class="title-hexagonal-h5 title-section-hex-orange">Resumen</h5>
                    <p class="parrafos-inti">
                       La educación técnica y tecnológica no debe ser pensada como un mecanismo 
                       contemporáneo de mano de obra calificada, al contrario de ello, es una valiosa oportunidad 
                       para la generación de sujetos autónomos con tendencia exponencial de emprendedores.  
                       Es decir. La educación tecnológica es una posibilidad fáctica de cambio de la economía 
                       de un país altamente dependiente.  Esto se materializa mediante la orientación clara del
                        modelo de educación técnica y tecnológica, su pedagogía, sus estructuras curriculares, 
                        sus esquemas de titulación, entre otros, deben apuntalar hacia la relación de la práctica,
                         la teoría y la vida misma.
                    </p>
                    <p class="parrafos-inti">
                          Las estructuras de micro, pequeña y mediana empresa pública o 
                         privada podrían sujetarse de la educación tecnológica, un acuerdo social público y 
                         consensuado entre los campos educativo y comunitario económico permitirían la reestructuración 
                         de los fines de la educación en sí misma.  Entre otros retos para dar cuerpo a esta quimera, 
                         nos disponemos en esta ponencia a proponer como uno de los aportes la metodología de 
                         investigación específica de la educación tecnológica a través del método práctico, 
                         sea para los procesos de investigación docente como para las formas de titulación 
                         estudiantil, entre ellas la necesidad de centralizar esfuerzos en la modalidad de 
                         emprendimientos.
                    </p>
                </div>
                <div class="adicional-grid espacio">
                    <h5 class="title-hexagonal-h5 title-section-hex-orange">2. Modelo de educación técnica y tecnológica</h5>
                   <p class="parrafos-inti">
                        ¿Qué es la educación técnica y tecnológica? Su respuesta puede ser multifactorial, ambivalente y definida alrededor de múltiples construcciones y experiencias a lo largo del mundo; empero, responderemos en nuestro caso, que la educación técnica y tecnológica es la posibilidad fáctica de construir una educación pertinente y cercana a la realidad, que revitalice la cultura y se acerque a la materialidad de la vida de la sociedad que la rodea.  El modelo educativo que conformemos será el modelo de sociedad que pretendamos, por lo tanto será un modelo de corte transformador.
                    </p>
                    <p class="parrafos-inti">
                    No es lo mismo el paradigma constitutivo de la educación universitaria con la tecnológica, no porque éstas se hallen situadas en jerarquías distintas, ni mucho menos porque deban responder a estratos sociales clasificados, más bien frente a estos dos aspectos, los modelos deben presentarse como equivalentes e igualitarios en sus oportunidades y derechos.
                    No son lo mismo en el sentido de que uno y otro priorizan su espacio de enunciación en dimensiones parcialmente distintas: mientras la educación universitaria insiste en partir de la abstracción de ideas para el entendimiento de la realidad, la educación práctica afronta la dimensión de lo concreto y asume los problemas a partir de sus prácticas conflictivas.
                    </p>
                    <p class="parrafos-inti">
                    Si el conflicto concreto constituye la razón de ser del acto educativo y por tanto de su misión en sí misma, entonces ese modelo de sociedad en conflicto requiere de modelos educativos contra conflictivos que lo procuren resolver.  Es decir el modelo educativo técnico y tecnológico es (debe ser) un acto propositivo, comprometido y pertinente. Estos principios conforman el sentido de la educación práctica.
                    </p>
                </div>
            </div>
        </div>
            <div class="parrafo-inti-yavirac">
                 <h5 class="title-hexagonal-h5 title-section-hex-orange">3. Relación de la educación técnica, la práctica y los esquemas de investigación</h5>
                <p class="parrafos-inti">
                    La dicotomía abstracción y concreción es insuficiente para explicar la intención de conformar una educación e investigación técnica y tecnológica, si bien tal dimensión corresponde al campo epistemológico de lo concreto, la práctica trasciende de sus límites, porque se sitúa en la dimensión de la realidad practicada, la realidad de lo común.
                    El primero rubro de ruptura es entre la idea de lo individual y lo común.  La tradición epistemológica hegemónica persiste en la construcción del conocimiento a partir de objetos configurados desde el yo cognoscente, la fórmula antigua del “Cogito Ergo Sum” (Pienso luego existo), mismo que contiene dos falacias:
                </p>
                <p class="parrafos-inti">
                    Atribuir el acto del pensamiento al yo individual desconociendo su contexto de construcción cultural e histórica que trasciende del individuo
                    Interconectar la existencia (proyección de la realidad) al acto del pensamiento, usurpando de esa manera la realidad de su espacio por excelencia en las comunidades.
                    “Yo pienso y luego yerro”, con o sin voluntad consciente, yerro en la medida en que: a) Estoy limitado por el tiempo y espacio de mis construcciones objetivas y subjetivas de la realidad, y, b) Mantengo una cantidad considerable de prejuicios efecto de mis formas de conservación de pensamiento.  Todos, sin ninguna excepción cargamos con conservadurismo subjetivo que se convierte en objetos limitados de investigación, y por los cuales vuelven a nuestra cabeza una auto cárcel.

                    Defendemos en esta argumentación la construcción común del conocimiento y su evidencia en las prácticas, por lo tanto hablamos de las prácticas comunitarias como el sustento de la educación técnica, extrapolación de la educación en general.
                </p>
                <p class="parrafos-inti">
                    Si el yo pienso anula la realidad, la condiciona y la superpone a las debilidades de nuestras realidad intrínseca y ajustada, la comunidad lo amplifica, abre el campo de visiones, sin decir con esto que las comunidades no carguen consigo prejuicios y esquemas conservadores compartidos, sino que al abrir el abanico estas realidades compartidas y las yuxtapuestas se contraponen permitiendo una mayor diversidad de miradas.

                    La realidad comunitaria practicada y la realidad del yo pensante rompen en una frontera casi infranqueable que  determinan finalmente los objetos de conocimiento y los sujetos que componen la sociedad.  El abismo al que nos referimos se ajusta exclusivamente con el reordenamiento del inicio de la construcción del conocimiento.
                    Proponemos que la investigación práctica parta de los problemas, es el conflicto el que constituye la necesidad del conocimiento.  El conflicto constituye la vida en sí misma, no hay vida sin conflicto.  Tendemos a dirigirnos hacia la armonía y la superación del conflicto y para ello nos preguntamos cómo, esa respuesta es la investigación, es decir la investigación existe porque existe vida y la vida existe porque hay conflicto, por lo tanto la investigación es la respuesta al conflicto y en ese sentido y orden deberemos operar.
                </p>
                <p class="parrafos-inti">
                    Si el punto de partida del conocimiento es el conflicto entonces su agenda de investigación debe arrancar desde los problemas sistematizados u observados.  Estos problemas se reproducen en las comunidades ético-políticas.
                    Lo curioso a estas alturas es que las comunidades además de contener los problemas, tienen además, y con la misma fuerza, una gran parte de las soluciones, lo cual pone a los investigadores en el rol estricto de mediadores y organizadores del conocimiento.  Una especie de registro  metódico del salto entre el conflicto y su superación, tanto en el caso de organizar formalmente las soluciones como en el caso de proponerlas desde su capacidad creativa.
                    Así, mientras la construcción del conocimiento formal y hegemónico parte del objeto como dotación del yo pensante, la construcción del conocimiento crítico y práctico parte de los problemas.  A esta distancia le atribuimos las características de la investigación y educación práctica.
                </p>
            </div>
            <div>
                <figure class="imagen-section">
                    <h3 class="animated bounceInRight infinite center">
                        La educación técnica y tecnológica es una valiosa oportunidad para la generación emprendedora.
                </figure>
            </div>
        <div class="parrafo-inti-yavirac">
            <div class="grid-inti-60">
                <div class="adicional-grid">
                    <h5 class="title-hexagonal-h5 title-section-hex-orange">4. Base de datos de problemas sociales.</h5>
                    <p class="parrafos-inti">
                       Surge un elemento central para la incógnita ¿Sobre qué investigar? ¿Cuál es el norte de las investigaciones prácticas? Sin duda esta respuesta se configura de dos componentes:
                    </p>
                    <p class="parrafos-inti">
                        -Motivaciones subjetivas del investigador
                    </p>
                    <p class="parrafos-inti">
                        -Problemas sociales de la realidad
                    </p>
                    <p class="parrafos-inti">
                        En este sentido instaremos a que los dos componentes tienen valor legítimo por igual, no podemos vulnerar la autonomía de los investigadores ni forzar las agendas de investigación al campo estricto de lo público,  sin embargo procuraremos que se produzca una fusión compleja entre unos y otros.
                        No existe la posibilidad concreta de que las preocupaciones personales se hallen disociadas de la realidad social, son fruto de ésta, empero, la academia hegemónica ha distanciado la producción de conocimiento de la realidad social.
                    </p>    
                    <p class="parrafos-inti">
                        Por ello es importante reforzar la legitimidad y necesidad del segundo componente que oriente las agendas investigativas, bases de problemas sistematizadas y categorizadas alrededor de lo público, pero también de lo comunitario.  Lo público parte de la exigencia a los Estados para que conviertan tal propósito en política pública, y lo comunitario puede resolverse sin dificultad en las instituciones de educación superior con coordinación y relacionamiento de la comunidad educativa con las comunidades ético-políticas (barrios, asambleas, juntas, etc.).
                        El escenario imaginado (por el momento) es de un interfaz digital y accesible para ingresar los problemas sociales; que los actores comunitarios tengan posibilidad permanente de ingresar a la base de datos sus realidades en flujo permanente, y, por lo tanto que la comunidad académica esté comprometida con situar sus proyectos de investigación alrededor de los problemas.  Una conexión directa entre la academia y su entorno social. 
                    </p>
                </div>
                <div class="adicional-grid espacio">
                    <h5 class="title-hexagonal-h5 title-section-hex-orange">5. Acuerdo social público y consensuado entre los campos educativo y comunitario.</h5>
                   <p class="parrafos-inti">
                       Los tres campos de la vida entran en permanente tensión y armonía, como habíamos mencionada hace un momento la vida mismo es por tendencia conflictiva.  Por lo cual la posibilidad de la superación del conflicto implica lucha y acuerdos, haremos en este breve escrito alusión a la posibilidad consensual. 
                    </p>
                    <p class="parrafos-inti">
                        Uno de los elementos centrales de este acuerdo pasa por la respuesta que demos a nuestra situación sistémica, más aún en sociedades dependientes y periféricas como la nuestra.
                        Lo curioso de la técnica es que es efecto de la creación del valor, forma distinta de llamarle al trabajo.  La técnica no puede existir sin trabajo y el trabajo definitivamente depende de la técnica.  Es así que la tecnología debería ser definitiva solo como un tratado secuencial del trabajo. El acuerdo social planteado rodea entonces el trabajo, la productividad y las técnicas de respuesta a los problemas de ello.  No significa que la cultura quede excluida, en una mirada integral el componente cultural es determinante para la explicación de la conformación de las tecnologías y las formas de trabajo, así como el rol de la memoria vivida y practicada de los sujetos y las comunidades. Sin embargo la profundización de esto la dejaremos para la versión ampliada de este escrito.
                    </p>    
                    <p class="parrafos-inti">
                        Por el momento, y en virtud de este acápite, nos interesa poner énfasis en la necesidad de acuerdos sociales mínimos respecto de las necesidades sociales, la más tenaza de ellas, la inexistencia de un modelo de trabajo y producción  con la búsqueda de un estado de buen vivir o bienestar, como quiera llamárselo.
                        ¿Estudiar, educar e investigar para trabajar o para autonomizarse?  La producción y creación de valor subsumido o el trabajo liberador, en el fondo está en juego ese escenario.  Sin duda un modelo de educación práctica procuraría generar sujetos empoderados y autónomos que apunten a liberar sus vidas de las cadenas del capital improductivo, más cuando en nuestro país las cadenas están captadas por capitales rentistas y especulativos que no producen valor sino que lo captan y concentran ociosamente.
                    </p>
                    <p class="parrafos-inti">
                        ¿Con quiénes acordar? Sin dudas con todos aquellos que deseen poner énfasis en la producción del valor y no su parasitario aprovechamiento.  Lo público, privad y comunitario ponen en común la conexión y convivencia  de la posibilidad de educaciones prácticas pertinentes con las modificaciones de las realidad, más aun cuando ésta se halla situada y arrinconada entre la realidad ficticia y la realidad real; la de una idea de trabajo inexistente y un trabajo productivo por construirse y convertirse en modelo de producción.
                    </p>
                </div>
            </div>
        </div>

            <div>
                <figure class="imagen-section2">
                    <h3 class="animated bounceInRight infinite center">
                        Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en el mejor ambiente institucional
                </figure>
            </div>
        <div class="parrafo-inti-yavirac">
            <h5 class="title-hexagonal-h5 title-section-hex-orange">6. El método práctico de investigación.</h5>
                <p class="parrafos-inti">
                       Finalmente para cerrar este argumento esbozado y solo como estructura de lo que será un campo de investigación y propuesta definiremos dos breves elementos: las fuentes de posibilidad del método práctico y un esquema de organización de problemas sociales rumbo a organizarlos metodológicamente.  Sobre lo primero las dos grandes fuentes son:
                </p>
                <p class="parrafos-inti">
                        -Teoría Crítica contra hegemónica en Occidente
                </p>
                <p class="parrafos-inti">
                        -Saberes ancestrales de prácticas pre coloniales
                </p>
                <p class="parrafos-inti">
                         La intención del literal a es mostrar que la crítica a la epistemología hegemónica y su s formas de construcción del conocimiento no provienen de una intención de satanizar a Occidente, más aun cuando sus espacios periféricos adolecen de nuestras mismas dificultades.
                        Estas dos fuentes son la posibilidad concreta de caminar hacia otro modelo de investigación y educación práctica.  Y desde las dos fuentes, con más relevancia de la segunda porque carga en nuestras prácticas culturales las formas concretas, se localiza la conformación de un método concreto de investigación práctica tan sustanciado como los métodos que estudiamos en las universidades
                        Así, y una vez configurado un campo argumentativo de necesidad de métodos pertinentes con la realidad social, dejaremos solamente planteados los pasos secuenciales o paralelos con los cuales se puede estructurar la formación de un problema de investigación:
                </p>
                <p class="parrafos-inti">
                        Rastrear problemas
                        Priorizarlos
                        Ponderarlos
                        Clasificarlos (General y específicos)
                        Este acto más que observacional es un acto de acercamiento a la realidad, de contacto sensible con el problema, tanto en su estado directo como en su contexto, así los antecedentes que justificarán la investigación serán de tres tipos:
                </p>
                <p class="parrafos-inti">
                        Históricos, sociales y contextuales
                        Hasta aquí dejaremos por el momento el argumento, en este hilo de reflexión procuraremos tejer la propuesta del método práctico y la educación práctica con fines de liberadora, descolonizadora y rumbo a la autonomía. 
                </p>
            </div>
</section>

