<section>
    <h2 class="title-hexagonal title-section-hex-orange">FORMACIÓN TÉCNICA TECNOLÓGICA</h2>
     <h3 class="title-hexagonal-h3 title-section-hex-black">
        Saber Técnico y Tecnológico, un poco de historia para su comprensión</h3>
          <h5 class="title-hexagonal-h5 title-section-hex-orange">
            Alberto Almaguer
            </h5>
             <h5 class="title-hexagonal-h5 title-section-hex-black">
            Instituto Tecnológico Superior Yavirac
            </h5>
            <div class="content-hexagonal">
                <figure class="imagen-formacion-tecnica"></figure>
            </div>

            <div class="parrafo-inti-yavirac">
                <div class="grid-inti-60">
                    <div class="adicional-grid">
                        <p class="parrafos-inti">
                            Como acción transformadora la técnica es mucho más antigua que la ciencia. 
                            La habilidad para la técnica siempre representó una importante ventaja en la evolución 
                            humana, mientras que la capacidad para la ciencia resultaba irrelevante. La ciencia tuvo 
                            su origen en la Grecia Clásica, pero tal y como se acepta hoy en día es un fenómeno todavía 
                            más reciente, que puede datarse entre finales del XVI y comienzos del XVII. La tecnología 
                            entendida como técnica científicamente fundamentada es aún posterior; hasta la segunda mitad 
                            del XIX la ciencia no tuvo prácticamente ningún impacto importante sobre la técnica.
                            </p>
                            <p class="parrafos-inti">
                            Hacia finales del siglo XIX, coincidiendo con la institucionalización y profesionalización 
                            de la actividad científica, gran parte de la ciencia del mundo occidental se apropia de la 
                            tecnología y la exhibe como producto de la denominada ciencia pura; esto es, se pretendió 
                            subordinar la tecnología a lo abstracto, mostrándola como el resultado tangible de un 
                            conocimiento científico superior. Sin duda, esta nueva situación no era ajena a la demanda 
                            que hacían los científicos académicos a la sociedad con el fin de conseguir más fondos y 
                            recursos para poder realizar sus investigaciones (Layton, 1988).
                            </p>
                    </div>
                    <div class="adicional-grid espacio">
                          <p class="parrafos-inti">
                            Posteriormente, en el siglo XX se multiplicaron las tecnologías basadas en la ciencia, 
                            llegando ésta a desempeñar un papel más importante en muchas innovaciones 
                            tecnológicas -entramado que suele conocerse como tecnociencia-; pero, aun así, 
                            la tecnología contemporánea no debería interpretarse como una simple muestra de la {
                                aplicación de los descubrimientos realizados por los científicos (Basalla, 1988). 
                                En las sociedades modernas las conexiones entre ciencia y tecnología no son jerárquicas 
                                sino sistémicas y muy complejas.
                        </p>
                        <p class="parrafos-inti">
                        La práctica tecnológica se ha ido haciendo más científica, no sólo por los conocimientos que 
                        le proporciona la ciencia sino, sobre todo, por haber incorporado de un modo cada vez más 
                        consciente y extendido una metodología más sistemática. Del mismo modo, la ciencia está cada 
                        vez más ligada a los intereses tecnológicos (Acevedo, 1997) y también ha desplazado poco a 
                        poco su modo de hacer y su organización desde los típicamente académicos hasta los 
                        característicos de los laboratorios industriales y gubernamentales; esto es, la práctica 
                        científica se ha hecho también más tecnológica. Como ha hecho notar Ziman (1984), 
                        actualmente todas las tecnologías tienden a generar sus propias ciencias; al mismo tiempo, 
                        es difícil encontrar algún campo de conocimientos que no sea examinado para determinar sus 
                        potenciales beneficios comerciales, por lo que todas las ciencias que aún no lo han hecho 
                        se encuentran en vía de dar lugar a sus respectivas tecnologías. No obstante, aunque hoy en 
                        día la relación entre la ciencia y la tecnología sea bastante extensa en numerosos casos, 
                        todavía hay muchos más donde la interacción es menos intensa de la que suele darse entre 
                        la nueva y la vieja tecnologías (Price, 1972); la mayoría de estas novedades tecnológicas
                        derivan, en lo fundamental, evolutivamente de inventos anteriores (Basalla, 1988).
                        </p>
                      
                    </div>
                </div>
                <div class="parrafo-inti-tecnica">
                        <p class="parrafos-inti">
                        La ciencia y la tecnología han terminado por transformar numerosos espacios de las sociedades 
                        contemporáneas. Son innegables los beneficios que de tal transformación se obtienen, pero 
                        también son numerosos los riesgos que han surgido de tan vertiginoso desarrollo. Esta doble 
                        condición obliga a que la ciencia y la tecnología deban ser vistas con una actitud más crítica,
                            ya que no siempre son los mismos impactos los que se presentan en el mundo desarrollado que 
                            en los países del sur. Es por eso que uno de nuestros retos fundamentales como sociedad 
                            latinoamericana es desarrollar un modelo de pedagógico en educación técnica y tecnológica 
                            que responda a los desafíos sociales de la realidad regional sin perder de vista los 
                            estándares de calidad necesarios a nivel mundial. 
                        </p>
                </div>
          </div>
                
            <div>
                <figure class="imagen-section2">
                    <h3 class="animated bounceInRight infinite center">
                        "La habilidad para la técnica siempre representó una importante ventaja en la evolución humana"
                </figure>
            </div>
        <div class="parrafo-inti-yavirac">
            <h5 class="title-hexagonal-h5 title-section-hex-orange">Formación Técnica y Tecnológica. Su naturaleza e importancia</h5>
            <div class="grid-inti-60">
                <div class="adicional-grid">
                    <p class="parrafos-inti">
                       La dimensión educativa de la relación Ciencia, Tecnología y Sociedad presenta matices
                        muy diversos y complejos, producidos, por una parte, desde el campo específico de los 
                        estudios de Ciencia, Tecnología y Sociedad, los cuales han permitido abrir la discusión
                         acerca de las implicaciones de la ciencia y la tecnología en el contexto social y, 
                         por otra, desde la enseñanza de la ciencia que viene incorporando paulatinamente 
                         discusiones sobre el papel que debe jugar la ciencia en la sociedad. Desde una 
                         concepción más amplia de la tecnología, un nuevo actor en el escenario se abre paso, 
                         la Educación en Tecnología, que gracias a involucrar en la actividad educativa tanto 
                         los aspectos técnicos como los culturales de la tecnología en una deseable relación 
                         teórico-práctica, constituye una prometedora contribución a la desmitificación y 
                         democratización de la ciencia y la tecnología.
                    </p>
                    <p class="parrafos-inti">
                        La formación técnica profesional y tecnológica de manera específica, cobra cada vez 
                        más importancia en Ecuador y el mundo. La dinámica de la economía mundial, así como 
                        las necesidades de las organizaciones, han provocado un aumento en la demanda de 
                        profesionales que cuenten con conocimientos específicos en el área en que van 
                        desarrollar sus competencias; en este sentido, las empresas solicitan empleados que
                         se desempeñen directamente en el plano operativo, que tengan capacidades para 
                         solucionar problemas puntuales, en el mayor tiempo posible, de manera práctica y sencilla.
                    </p>
                </div>
                <div class="adicional-grid espacio">
                   <p class="parrafos-inti">
                       A partir de la última década de la historia ecuatoriana, la formación del nivel técnico y 
                       tecnológico se ha logrado posicionar en las diferentes estructuras sociales y productivas 
                       de la nación, gracias a la voluntad del gobierno en apuntar hacia una formación especializada 
                       con carreras de ciclo corto e innovadoras; cuya misión es formar una fuerza laboral técnica 
                       calificada que les otorgue mayores posibilidades de una rápida inserción en el mundo laboral.
                        A pesar de los cambios tecnológicos acelerados que experimenta la sociedad moderna y teniendo 
                        en cuenta que las habilidades fundamentales que se buscan en los procesos de enseñanza y 
                        aprendizaje de este nivel de educación redundan en el Saber Hacer
                    </p>
                    <p class="parrafos-inti">
                       El proceso de formación de los técnicos y tecnólogos tiene un alto componente de desarrollo 
                       de destrezas complejas y habilidades técnicas específicas, basados en la premisa de resolución 
                       tecnológica a problemas y demandas socio-productivas. Los estudiantes adquieren competencias 
                       especializadas, basadas en sólidos conocimientos tecnocientíficos, que entre otras cosas, les 
                       permiten aplicar principios de autonomía, autogestión y resolución de conflictos
                    </p>    
                    <p class="parrafos-inti">
                        Siendo así, es muy importante que se considere y valore la oferta académica de los institutos 
                        tecnológicos superiores públicos, que brindan una educación gratuita y de calidad, 
                        como una alternativa profesional viable y apropiada, rompiendo con el mito de que sólo la
                         oferta académica de las universidades es la única opción para una formación de nivel superior.
                    </p>
                    <p class="parrafos-inti">
                        La formación técnica y tecnológica, por tanto, es una alternativa de formación a mediano plazo,
                         que facilita la inserción laboral en la sociedad en donde las tendencias marcan cambios
                          notables del trabajo, el emprendimiento y la innovación.
                    </p>
                </div>
            </div>
        </div>

            <div>
                <figure class="imagen-section">
                    <h3 class="animated bounceInRight infinite center">
                        La educación técnica y tecnológica es una valiosa oportunidad para la generación emprendedora.
                </figure>
            </div>
        <div class="parrafo-inti-yavirac">
            <h5 class="title-hexagonal-h5 title-section-hex-orange">Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac. ¨Fortaleciendo Capacidades¨.</h5>
                <p class="parrafos-inti">
                    El actual Instituto Tecnológico Superior de Turismo y Patrimonio Cultural “Yavirac”, tiene sus 
                    orígenes en las necesidades identificadas por las autoridades y personal docente del 
                    Colegio Nacional Técnico Aloasí, que el 25 de octubre de 1995, mediante acuerdo ministerial 
                    No. 5196, se crea el Instituto Técnico Superior Aloasí, para que en dos años adicionales de 
                    estudio, los bachilleres opten por el título de Técnico Superior en las carreras de: Análisis 
                    de Sistemas, Contabilidad de Costos y Electricidad. El 22 de enero de 2004, en uso de sus 
                    atribuciones el Consejo de Educación Superior (CONESUP) autorizó el cambio de Instituto 
                    Técnico Superior a Instituto Tecnológico y la apertura de las carreras de Tecnología en 
                    Electricidad, Tecnología en Análisis de Sistemas, y Tecnología en Contabilidad de Costos
                     mediante el Acuerdo Nro. 172, del 22/01/2004 y la tecnología en Electrónica, según el 
                     Acuerdo Nro., 203, del 04/05/2004. El 15 de mayo de 2013 mediante resolución No. RPC-SO-18-No. 
                     155-2013 el Consejo de Educación Superior aprueba la carrera de Técnico Superior en 
                     Guianza Turística, la misma que está vigente por 5 años, hasta el 2018.
                </p>
                <p class="parrafos-inti">
                     Al presente, el ITS 24 de Mayo, el ITS Benito Juárez y el ITS Gran Colombia funcionan 
                     en sus instalaciones ofertando las carreras de Marketing, Desarrollo de Software y Diseño 
                     de Modas, respectivamente. En este contexto podemos resaltar que el Instituto lleva acabo 
                     importantes proyectos en el ámbito de la formación continua y  emprendimiento articulados 
                     con las instituciones del Estado ecuatoriano encargadas de la gestión y preservación del 
                     patrimonio cultural.
                </p>
                
            </div>
</section>

