
<!--Sheet Slider-->
<div class="content-slider">
    <div class="sheetSlider sh-vertical sh-21r9 sh-auto">
   <input id="s1" type="radio" name="slide1" checked/> 
   <input id="s2" type="radio" name="slide1"/> 
   <input id="s3" type="radio" name="slide1"/>
   <input id="s4" type="radio" name="slide1"/>
   <input id="s5" type="radio" name="slide1"/>
   <input id="s6" type="radio" name="slide1"/>
   <input id="s7" type="radio" name="slide1"/>
   <input id="s8" type="radio" name="slide1"/>
   <input id="s9" type="radio" name="slide1"/>
   <input id="s10" type="radio" name="slide1"/>
   <div class="sh__content">

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="img/slider/arte-culinario.jpeg" alt="imgText"/>
         <!-- Item Info -->
         {{!-- <div class="sh__meta">
            <h4>2 Weeks</h4>
            <span>Secondary text <a href="#urlPage">with link</a></span>
         </div> --}}
      </div>

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="img/slider/marketing.jpeg" alt="imgText"/>
         <!-- Item Info -->
         {{!-- <div class="sh__meta">
            <h4>Artwork surreal</h4>
            <span>Secondary text without link</span>
         </div> --}}
      </div>

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="img/slider/desarrollo-software.jpeg" alt="imgText"/>
         <!-- Item Info -->
         {{!-- <div class="sh__meta">
            <h4>Cat under a carpet</h4>
            <span>Secondary text without link</span>
         </div> --}}
      </div>

      <div class="sh__item">
         <img src="img/slider/cupo-encajado.jpg" alt="imgText"/>
      </div>

      <div class="sh__item">
         <img src="img/slider/cronograma.jpeg" alt="imgText"/>
      </div>

      <div class="sh__item">
         <img src="img/slider/rendicion-2021.jpg" alt="imgText"/>
      </div>

      <div class="sh__item">
         <img src="img/slider/reingresos-2021.png" alt="imgText"/>
      </div>

      <div class="sh__item">
         <img src="img/slider/guia-nacional-turismo.jpeg" alt="imgText"/>
      </div>

      <div class="sh__item">
         <img src="img/slider/diseño-modas.jpeg" alt="imgText"/>
      </div>

      <div class="sh__item">
         <img src="img/slider/Admisiones.jpg" alt="imgText"/>
      </div>

   </div><!-- .sh__content -->

   <!--botones-->
   <div class="sh__btns">
      <label for="s1"></label>
      <label for="s2"></label>
      <label for="s3"></label>
      <label for="s4"></label>
      <label for="s5"></label>
      <label for="s6"></label>
      <label for="s7"></label>
      <label for="s8"></label>
      <label for="s9"></label>
      <label for="s10"></label>
   </div><!-- .sh__btns -->
<button class="sh-control"></button>  
   <!--flechas-->
   <div class="sh__arrows">
      <label for="s1"></label>
      <label for="s2"></label>
      <label for="s3"></label>
       <label for="s4"></label>
      <label for="s5"></label>
      <label for="s6"></label>
      <label for="s7"></label>
      <label for="s8"></label>
      <label for="s9"></label>
      <label for="s10"></label>
   </div><!-- .sh__arrows -->
   
</div>
</div>
<!-- .sheetSlider -->

{{!-- Carreras vigentes start --}}
<div class="content-hexagonal">
    <h2 class="title-hexagonal title-section-hex-orange">Carreras Técnicas y Técnológicas Vigentes</h2>
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#" target="_blank">
            <img src="img/carreras-vigentes/arte-culinario.jpeg" alt="" />
            <h1>ARTE CULINARIO</h1>
            <p>Título a obtener:Técnico Superior en Arte Culinario Ecuatoriano</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#" target="_blank">
            <img src="img/carreras-vigentes/control-incendios-operaciones.jpg" alt="" />
            <h1>CONTROL DE INCENDIOS</h1>
            <p>Oferta focalizada:
                Tecnólogo Superior en Control de Incendios y Operaciones de Rescate</p>
          </a>
        </div>
      </li>
      <li class="hex except">
        <div class="hexIn">
          <a class="hexLink" href="#" target="_blank">
            <img src="img/carreras-vigentes/desarrollo-software.jpeg" alt="" />
            <h1>DESARROLLO DE SOFTWARE</h1>
            <p>	Título a obtener:
                Tecnólogo Superior en Desarrollo de Software</p>
          </a>
        </div>
      </li>
    </ul>

    <ul id="hexGrid" style="padding-top:20px">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#" target="_blank">
            <img src="img/carreras-vigentes/modas.jpeg" alt="" />
            <h1>DISEÑO DE MODAS</h1>
            <p>	Título a obtener:
                Diseñador de Modas con nivel equivalente a Tecnología Superior</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#" target="_blank">
            <img src="img/carreras-vigentes/turismo.jpeg" alt="" />
            <h1>GUÍA DE TURISMO</h1>
            <p>	Título a obtener:
                Guía Nacional de Turismo con nivel equivalente a tecnología superior</p>
          </a>
        </div>
      </li>
      <li class="hex except">
        <div class="hexIn">
          <a class="hexLink" href="#" target="_blank">
            <img src="img/carreras-vigentes/marketing.jpeg" alt="" />
            <h1>MARKETING DIGITAL</h1>
            <p>	Título a obtener:
                Tecnólogo Superior en Marketing</p>
          </a>
        </div>
      </li>
    </ul>
</div>
{{!-- Carreras Vigentes end --}}


{{!-- Educacion virtual start --}}

<div class="content-hexagonal section-hex">
    <h2 class="title-hexagonal title-section-hex-white">¡Con nosotros, tu educación virtual está garantizada!</h2>
    <div class="grid">
        <div class="adicionales-grid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4A2BXkuuLM4" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="adicionales-grid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z4_af962Ooc?start=2" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
     </div>
</div>
{{!-- Educacion virtual end --}}

{{!-- Conoce al instituto start --}}
<div class="content-hexagonal">
    <h2 class="title-hexagonal title-section-hex-orange">Conoce el Instituto</h2>
    <ul id="hexGrid">
      <li class="hex hex-section-instituto">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="img/banner1.jpg" alt="" />
            <h1>SALUDO INSTITUCIONAL</h1>
            <p>	El “Yavirac” es una institución de educación superior que potencia
                 la creatividad y la innovación</p>
          </a>
        </div>
      </li>
      <li class="hex hex-section-instituto">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="img/banner2.jpg" alt="" />
            <h1>HISTORIA INSTITUCIONAL</h1>
            <p>Se establece la creación del primer Instituto Tecnológico 
                Superior, Sectorial, de Turismo y Patrimonio de la nación.</p>
          </a>
        </div>
      </li>
      <li class="hex hex-section-instituto">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="img/banner3.jpg" alt="" />
            <h1>FILOSOFÍA INSTITUCIONAL</h1>
            <p>El Instituto Superior Tecnológico de Turismo y Patrimonio 
                Yavirac será la institución líder en la formación de  profesionales</p>
          </a>
        </div>
      </li>
    </ul>
</div>
{{!-- Educacion virtual end --}}

{{!-- Postularte start --}}
<div class="content-hexagonal section-hex" style="margin-bottom: 20px;">
    <h2 class="title-hexagonal title-section-hex-white">Guía para que postules correctamente</h2>
     <div class="grid-individual">
         <div class="grid-colm">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/oYNRk1qDEsY" 
             title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
             clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
     </div>
</div>
{{!-- Postularte end --}}

<div class="content-hexagonal parrafo-section">
    <div class="img-parrofo-final">
        <img class="img-parrofo-final-medidas" src="img/imagen-portada-ofertas-academicas.jpg" alt="">
    </div>
    <p class="parrafo-final">
        Para que tengas una idea más clara de a qué carrera postular, es necesario 
        que también tengas en cuenta, a manera de referencia, las notas máximas y 
        promedios con que se asignó un cupo en el proceso anterior. Para que tengas 
        una idea más clara de a qué carrera postular, es necesario que también tengas
         en cuenta, a manera de referencia, las notas máximas y promedios con que se 
         asignó un cupo en el proceso anterior.
    </p>
    <div class="botton-parrofo-final">
    <a class="footer-call-to-action-button button hvr-sweep-to-top" style="text-align:center" href="#" target="_self"> Más información</a>
    </div>
</div>