<section>
    <h2 class="title-hexagonal title-section-hex-orange">INTI YAVIRAC</h2>
        <div>
             <figure class="imagen-inti-yavirac"></figure>
        </div>
    <div class="parrafo-inti-yavirac">
        <p class="parrafo-final">
            	El “Yavirac” es una institución de educación superior 
                comprometida en la ejecución del Plan Nacional de Desarrollo 
                “Toda una Vida”. Nuestra comunidad académica apoya estos objetivos, 
                fortaleciendo las capacidades de la ciudadanía, formando y entregando 
                profesionales con un alto nivel académico, con espacios educativos que 
                ponen énfasis en el desarrollo de destrezas prácticas y potencializan 
                la creatividad y la innovación.
        </p>
    </div>
    <div class="grid-inti">
        <div class="adicional-grid espacio">
            <p class="parrafos-inti">
                Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en 
                el mejor ambiente institucional y se orientan, primordialmente, para 
                brindar apoyo al sector de turístico y de patrimonio, sobre la base 
                histórica de que Quito y Galápagos son los primeros patrimonios cultural
                 y natural de la humanidad y estamos celebrando los primeros cuarenta años 
                 de este proyecto inconmensurable de la Organización de las Naciones Unidas 
                 para la Educación, Ciencia y la Cultura (UNESCO).
            </p>
            <p class="parrafos-inti">
            Por otro lado, como entidad del sector público, adscrita a la Secretaría de 
            Educación Superior Ciencia, Tecnología e Innovación (Senescyt), mantenemos 
            un contacto permanente con entidades nacionales e internacionales, de tal 
            forma que, la actualización y orientación académica potencialice la pertinencia 
            y la calidad educativa de docentes y estudiantes de nuestra institución.
            </p>
        </div>
        <div class="adicional-grid">
            <img src="img/foto-rector.jpg" alt="">
            <span>Msc. Iván Borja Carrera - Rector</span>
        </div>
    </div>
    <div class="parrafo-inti-yavirac">
        <p class="parrafo-final">
        Invitamos a todos los sectores de la sociedad, que, a través de este 
        medio, nos visiten y aporten con ideas, opiniones o criterios que nos 
        facilite el continuar liderando la formación técnica y tecnológica por 
        el bien de la sociedad ecuatoriana.
        </p>
    </div>
</section>

