<section>

    <h2 class="title-hexagonal title-section-hex-orange">NUESTROS INSTITUTOS</h2>
    <div class="content">
       <div class="grid-content-50">
            <div class="adicional-grid" data-aos="fade-right" data-aos-delay="200">
                <img src="img/institutos/Benito-parte1.jpg" alt="">
            </div>
            <div class="adicional-grid" data-aos="fade-left" data-aos-delay="400">
                <img src="img/institutos/Benito-parte2.jpg" alt="">
            </div>
        </div>

        <div class="grid-content-50">
            <div class="adicional-grid" data-aos="fade-right"  data-aos-delay="200">
                    <img src="img/institutos/Benito-parte3.jpg" alt="">
            </div>
            <div class="adicional-grid" data-aos="fade-left"  data-aos-delay="400">
                <img src="img/institutos/Benito-parte4.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content section-hex">
        <div class="grid-content-50">
            <div class="adicional-grid" data-aos="fade-right"  data-aos-delay="200">
                    <img src="img/institutos/Gran-Colombia-parte1.jpg" alt="">
            </div>
            <div class="adicional-grid" data-aos="fade-left"  data-aos-delay="400">
                <img src="img/institutos/Gran-Colombia-parte2.jpg" alt="">
            </div>
        </div>

        <div class="grid-content-50" style="padding-top: 10px;">
            <div class="adicional-grid" data-aos="fade-right"  data-aos-delay="200">
                    <img src="img/institutos/Gran-Colombia-parte3.jpg" alt="">
            </div>
            <div class="adicional-grid" data-aos="fade-left"  data-aos-delay="400">
                <img src="img/institutos/Gran-Colombia-parte4.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="grid-content-50">
            <div class="adicional-grid" data-aos="fade-right"  data-aos-delay="200">
                    <img src="img/institutos/24-Mayo-parte1.jpg" alt="">
            </div>
            <div class="adicional-grid" data-aos="fade-left" data-aos-delay="400">
                <img src="img/institutos/24-Mayo-parte2.jpg" alt="">
            </div>
        </div>

        <div class="grid-content-50">
            <div class="adicional-grid" data-aos="fade-right"  data-aos-delay="200">
                    <img src="img/institutos/24-Mayo-parte3.jpg" alt="">
            </div>
            <div class="adicional-grid" data-aos="fade-left"  data-aos-delay="400">
                <img src="img/institutos/24-Mayo-parte4.jpg" alt="">
            </div>
        </div>
    </div>
</section>

