<section>
    <h2 class="title-hexagonal title-section-hex-orange">PROCESO DE ADMISIÓN</h2>
    <div class="content">
        <div class="img-parrofo-final" data-aos="fade-right"  data-aos-delay="200">
             <img class="img-admision" src="img/postulacion-adm-1.jpg" alt="">
        </div>
    </div>
</section>