<section>
    <div class="content">
        <h2 class="title-hexagonal title-section-hex-orange">REGLAMENTOS INTERNOS</h2>
        <ul id="hexGrid">
            <li class="hex" data-aos="fade-left"  data-aos-delay="200">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/R_REGIMEN_ACADEMICO_YAVIRAC.pdf" target="_blank">
                    <img src="img/reglamentos/reglamento-regimen-academico.jpg" alt="" />
                    <h1>Reglamento Interno de Régimen Académico</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
            <li class="hex" data-aos="fade-down"  data-aos-delay="300">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/R-Organo-Colegiado-Superior.pdf" target="_blank">
                    <img src="img/reglamentos/reglamento-organo-superior.jpg" alt="" />
                    <h1>Reglamento del Órgano Colegiado Superior</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
            <li class="hex exceptionOther" data-aos="fade-down"  data-aos-delay="400">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/R-Disciplina.pdf" target="_blank">
                    <img src="img/reglamentos/reglamento-disciplinario.jpg" alt="" />
                    <h1>Reglamento de Régimen Disciplinario</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
            <li class="hex exception" data-aos="fade-left"  data-aos-delay="500">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/R-Elecciones.pdf" target="_blank">
                    <img src="img/reglamentos/reglamento-elecciones.jpg" alt="" />
                    <h1>Reglamento de Elecciones</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
        </ul>

        <ul id="hexGrid" style="padding-top:20px">
            <li class="hex" data-aos="fade-right"  data-aos-delay="600">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/R-Consejo-Estudiantil.pdf" target="_blank">
                    <img src="img/reglamentos/reglamento-estudiantil.jpg" alt="" />
                    <h1>Reglamento del Consejo Estudiantil Tecnológico</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
            <li class="hex" data-aos="fade-down"  data-aos-delay="700">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/Plan-de-Emergencia-1-1.pdf" target="_blank">
                    <img src="img/reglamentos/banner-plan-de-emergencia.jpeg" alt="" />
                    <h1>Plan de Emergencia</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
            <li class="hex except" data-aos="fade-left"  data-aos-delay="800">
                <div class="hexIn">
                <a class="hexLink" href="pdf/reglamentos/Politica-de-seguridad.pdf" target="_blank">
                    <img src="img/reglamentos/banner-politicas-de-seguridad.jpeg" alt="" />
                    <h1>Política de Seguridad</h1>
                    <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                </a>
                </div>
            </li>
        </ul>
    </div>
</section>

