<div class="pg-footer">
    <footer class="footer">
      <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
      </svg>
      <div class="footer-content">
        <div class="footer-content-column">
          <div class="footer-logo">
            <a class="footer-logo-link" href="/">
              <span class="hidden-link-text">LOGO</span>
              <img class="logo-footer" src="img/logo-yavirac.jpg" alt="logo_yavirac">
              
            </a>
          </div>
           <div id="qrcode">
<img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fyavirac.edu.ec%2F&s=6&e=m" alt="Generador de Códigos QR Codes"/>
<br/><a href="https://www.codigos-qr.com/en/qr-code-generator/" target="_blank" id"qrgenerator"></a>
</div>
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name"> Admisiones</h2>
            <ul id="menu-company" class="footer-menu-list">
              <li id="menu-item-167408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167408">
                <a href="#">Requisitos matrículas</a>
              </li>
              <li id="menu-item-167409" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-167409">
                <a href="#">Admisiones en IES Públicas</a>
              </li>
              <li id="menu-item-171917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171917">
                <a href="#">Proceso de Admisión</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu">
            <h2 class="footer-menu-name"> Formación continua</h2>
            <ul id="menu-legal" class="footer-menu-list">
              <li id="menu-item-170434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-170434">
                <a href="#">¿Qué es Capacitación Continua?</a>
              </li>
              <li id="menu-item-170434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-170434">
                <a href="#">Inglés</a>
              </li>
              <li id="menu-item-179115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-179115">
                <a href="#">Cursos de Docencia</a>
              </li>
              <li id="menu-item-178960" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178960">
                <a href="#">Cursos de Patronaje y Confección</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name">Aula virtual</h2>
            <ul id="menu-quick-links" class="footer-menu-list">
              <li id="menu-item-168092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168092">
                <a target="_blank" rel="noopener noreferrer" href="#">eBooks7-24</a>
              </li>
              <li id="menu-item-167418" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167418">
                <a target="_blank" rel="noopener noreferrer" href="#">Investigación</a>
              </li>
              <li id="menu-item-167954" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167954">
                <a href="#">CEC-Y</a>
              </li>
              <li id="menu-item-167423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167423">
                <a href="#">IGNUNG</a>
              </li>
              <li id="menu-item-167423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167423">
                <a href="#">EVA</a>
              </li>
              <li id="menu-item-167955" class="menu-item menu-item-type-post_type_archive menu-item-object-customer menu-item-167955">
                <a href="#">Bolsa de empleo</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-content-column">
          <div class="footer-call-to-action">
            <h2 class="footer-call-to-action-title">Acerca de nosotros</h2>
            <p class="footer-call-to-action-description"> 
                Invitamos a todos los sectores de la sociedad, 
                que, a través de este medio, nos visiten y aporten con ideas, 
                opiniones o criterios que nos facilite el continuar liderando 
                la formación técnica y tecnológica por el bien de la sociedad ecuatoriana.
            </p>
            <a class="footer-call-to-action-button button" href="#" target="_self"> Contáctanos</a>
          </div>
        </div>
        <div class="footer-social-links"> <svg class="footer-social-amoeba-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236 54">
            <path class="footer-social-amoeba-path" d="M223.06,43.32c-.77-7.2,1.87-28.47-20-32.53C187.78,8,180.41,18,178.32,20.7s-5.63,10.1-4.07,16.7-.13,15.23-4.06,15.91-8.75-2.9-6.89-7S167.41,36,167.15,33a18.93,18.93,0,0,0-2.64-8.53c-3.44-5.5-8-11.19-19.12-11.19a21.64,21.64,0,0,0-18.31,9.18c-2.08,2.7-5.66,9.6-4.07,16.69s.64,14.32-6.11,13.9S108.35,46.5,112,36.54s-1.89-21.24-4-23.94S96.34,0,85.23,0,57.46,8.84,56.49,24.56s6.92,20.79,7,24.59c.07,2.75-6.43,4.16-12.92,2.38s-4-10.75-3.46-12.38c1.85-6.6-2-14-4.08-16.69a21.62,21.62,0,0,0-18.3-9.18C13.62,13.28,9.06,19,5.62,24.47A18.81,18.81,0,0,0,3,33a21.85,21.85,0,0,0,1.58,9.08,16.58,16.58,0,0,1,1.06,5A6.75,6.75,0,0,1,0,54H236C235.47,54,223.83,50.52,223.06,43.32Z"></path>
          </svg>
          <a class="footer-social-link facebook" href="#" target="_blank">
            <span class="hidden-link-text">Facebook</span>
           <img width="30px" height="30px" class="hvr-bounce-in" src="https://img.icons8.com/ios-filled/50/ffffff/facebook-circled.png"/>
          </a>
          <a class="footer-social-link twitter" href="#" target="_blank">
            <span class="hidden-link-text">Twitter</span>
            <img width="30px" height="30px" class="hvr-bounce-in" src="https://img.icons8.com/ios-filled/50/ffffff/twitter-circled--v1.png"/>
          </a>
          <a class="footer-social-link youtube" href="#" target="_blank">
            <span class="hidden-link-text">Youtube</span>
            <img width="30px" height="30px" class="hvr-bounce-in" src="https://img.icons8.com/glyph-neue/64/ffffff/youtube-play.png"/>
          </a>
          <a class="footer-social-link instagram" href="#" target="_blank">
            <span class="hidden-link-text">Instagram</span>
            <img width="30px" height="30px" class="hvr-bounce-in" src="https://img.icons8.com/glyph-neue/64/ffffff/instagram-new.png"/>
          </a>
        </div>
      </div>
      
      <div class="footer-copyright">
        <div class="footer-copyright-wrapper">
          <p class="footer-copyright-text">
            <a class="footer-copyright-link" href="/" target="_self"> ©2021. | Instituto Superior Tecnológico de Turismo y Patrimonio "Yavirac"| Quito. | Todos los derechos reservados. </a>
          </p>
        </div>
      </div>
      
    </footer>
</div>
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "337265726432106", // Facebook page ID
            email: "info@yavirac.edu.ec ", // Email
            email_color: "#129BF4", // Email button color
            call_to_action: "Contactanos", // Call to action
            button_color: "#129BF4", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,email", // Order of buttons
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->