<header class="barraSuperior">
    <figure>
        <img class="logo" src="img/logo-yavirac.jpg" alt="logo_yavirac">
        <div class="menu">
          <nav>
            <span>
              <a href="#/facebook" class="hvr-bounce-in">
                <img width="30px" height="30px" src="https://img.icons8.com/ios-filled/50/ffffff/facebook-circled.png"/>
              </a>
            </span>
            <span>
              <a href="#/twitter" class="hvr-bounce-in">
                <img width="30px" height="30px" src="https://img.icons8.com/ios-filled/50/ffffff/twitter-circled--v1.png"/>
              </a>
            </span>
            <span>
              <a href="#/youtube" class="hvr-bounce-in">
                <img width="30px" height="30px" src="https://img.icons8.com/glyph-neue/64/ffffff/youtube-play.png"/>
              </a>
            </span>
             <span>
              <a href="#/instagram" class="hvr-bounce-in">
                <img width="30px" height="30px" src="https://img.icons8.com/glyph-neue/64/ffffff/instagram-new.png"/>
              </a>
            </span>
          </nav>
      </div>
    </figure>
    <nav>
      <div class="topnav" id="myTopnav">
        <a href="/" class="hvr-shutter-out-horizontal">Inicio</a>
        <div class="dropdown">
          <button class="dropbtn hvr-shutter-out-horizontal">
            Viviendo en el Yavirac 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/inti-yavirac" class="hvr-shutter-out-horizontal">Inti Yavirac</a>
            <a href="/historia" class="hvr-shutter-out-horizontal">Historia</a>
            <a href="/mision-vision" class="hvr-shutter-out-horizontal">Misión - Visión</a>
            <a href="/nuestros-institutos" class="hvr-shutter-out-horizontal">Nuestros Institutos</a>
            <a href="/educacion-superior-publica" class="hvr-shutter-out-horizontal">Educacipon Superior Pública</a>
            <a href="/formacion-tecnica-tecnologica" class="hvr-shutter-out-horizontal">Formación Técnica Tecnológica</a>
            <a href="/reglamentos" class="hvr-shutter-out-horizontal">Reglamentos</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn hvr-shutter-out-horizontal">
            Admisiones 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/requisitos-matriculas" class="hvr-shutter-out-horizontal">Requisitos matrículas</a>
            <a href="/admisiones-ies-publicas" class="hvr-shutter-out-horizontal">Admisiones en IES Públicas</a>
            <a href="/proceso-admision" class="hvr-shutter-out-horizontal">Proceso de Admisión</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn hvr-shutter-out-horizontal">
            Oferta académica 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/carreras-vigentes" class="hvr-shutter-out-horizontal">Carreras vigentes</a>
            <a href="/carreras-no-vigentes" class="hvr-shutter-out-horizontal">Carreras no vigentes</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn hvr-shutter-out-horizontal">
            Formación continua
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/capacitacion-continua" class="hvr-shutter-out-horizontal">¿Qué es Capacitación Continua?</a>
            <a href="/ingles" class="hvr-shutter-out-horizontal">Inglés</a>
            <a href="#" class="hvr-shutter-out-horizontal">Cursos de Docencia</a>
            <a href="#" class="hvr-shutter-out-horizontal">Cursos de Patronaje y Confección</a>
          </div>
        </div>
        <a href="/rendicion-cuentas" class="hvr-shutter-out-horizontal">Rendición de cuentas</a>
        <div class="dropdown">
          <button class="dropbtn hvr-shutter-out-horizontal">
            Aula virtual 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/ebooks7-24"class="hvr-shutter-out-horizontal">eBooks7-24</a>
            <a href="/investigacion"class="hvr-shutter-out-horizontal">Investigación</a>
            <a href="https://eva.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">CEC-Y</a>
            <a href="https://ignug.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">IGNUNG</a>
            {{!-- <a href="https://eva.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">EVA</a> --}}
            <a href="https://bolsa-empleo.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">Bolsa de empleo</a>
          </div>
        </div> 
        <a href="#about" class="hvr-shutter-in-horizontal">Contáctanos</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </nav>
</header>
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>
