<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Stylesheet File -->
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://eva.yavirac.edu.ec/pluginfile.php/1/theme_lambda/favicon/1638921055/nuevos%20logo%20YAVIRAC-04.png">
  <!-- Bootstrap CSS File -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" integrity="sha512-lOtDAY9KMT1WH9Fx6JSuZLHxjC8wmIBxsNFL6gJPaG7sLIVoSO9yCraWOwqLLX+txsOw0h2cHvcUJlJPvMlotw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/main.css" rel="stylesheet">
  <link href="css/layouts.css" rel="stylesheet">
  <link href="css/hover.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
   <link href="css/animate.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.css"/>
  
  <title>Instituto Superior Tecnológico de Turismo y Patrimonio "Yavirac"| Yavirac - Quito</title>
 
</head>
<body>
    {{> navigation}}
    {{{body}}}
    {{> footer}}
    
<script src="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 <script>
 AOS.init();
 </script>
</body>
</html>